PORT=PORT
##If runs from local use localhost instead of redis
REDIS_HOST=HOST
##If runs from local use localhost instead of db
DSN=postgres://{USER_NAME}:{USER_PASSWORD}@{HOST}:{PORT}/{DB_NAME}?sslmode=disable
POSTGRES_PASSWORD=PASSWORD
POSTGRES_USER=USER
POSTGRES_DB=NAME